
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

button {
    outline: none;
}

#listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.listObject {
    display: flex;
    justify-content: center;
    align-items: center;

    color: mintcream;
    background-color: #3596f3;
    border-radius: 5px;
    width: 45%;
    height: 35px;
    cursor: pointer;
    margin: 2px 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.listObject:hover > i {
    visibility: visible;
}

.listObject > span {
    width: 100%;
}

.listObject > i {
    display: flex;
    align-items: center;

    visibility: hidden;
    padding: 0px 10px;
    height: 100%;
}

.listObject > i:hover {
    color: crimson;
    background-color: #2978c2;
    border-radius: 5px;
}

.listObject:active {
    background-color: #3aa9f4;
}

.page-content-1 {
    text-align: center;
}

.page-content-2 {
    text-align: center;
}

#addList {
    position: absolute;
    margin: 0 20px 20px 0;
    bottom: 0;
    right: 0;
    background-color: #3f51b5;
    color: mintcream;
}

.addList, .addTask, .editTask {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;

    width: 15%;
    height: 200px;
    background-color: #3f51b5;
    border-radius: 5px;
    color: #fdfdfe;
}

.addList, .addTask {
    right: 0;
    bottom: 0;
}

.addList button,
.addTask > span > button,
.editTask > span > button {
    width: 35px;
    height: 20px;
}

.addTask > button {
    width: 200px;
    height: 30px;
    font-size: 15px;
    margin-top: 30px;
    border-radius: 5px;
}

.editTask {
    left: 0;
    bottom: 0;
}

.editTask > button {
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
}

#taskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 45%;
    height: 30px;
    margin-bottom: 3px;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 5px;
    cursor: default;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.task span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.task i {
    margin-right: 10px;
}

.taskSelected {
    background-color: #ddd;
}